.conference {
  display: flex;
  flex-direction: column;

  background-color: var(--backgroundColor);
}

.conference-info {
  display: flex;
  gap: 20px;

  padding: 40px 40px 0px 40px;
}

.conference-header {
  display: flex;
  row-gap: 100px;
  flex-direction: column;

  width: 45vw;
}

.conference-info .sticky-duck-container {
  height: 850px;

  position: relative;
}

.conference-info .sticky-duck {
  position: sticky;
  top: 0;
  left: 0;

  width: 60%;
}

.conference-details {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  flex-direction: column;

  width: 45vw;
  height: 100%;
}

.conference-header h3 {
  font-size: var(--font-size-p);
  font-family: var(--secondaryFont), sans-serif;
  font-weight: 500;
  color: rgba(23, 22, 21, 1);
}

.conference-details p {
  max-width: 472px;

  font-family: var(--mainFontBold);
  font-size: var(--font-size-h4);
  font-weight: 500;
  color: rgba(23, 22, 21, 0.7);
}

.conference-details .statistics-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  row-gap: 100px;
  flex-wrap: wrap;

  max-width: 472px;
}

.conference-details .statistic {
  display: flex;
  flex-direction: column;
}

.conference-details .stat-number {
  color: var(--orangeColor);
  font-size: 100px;
  font-weight: 500;
}

.conference-details .stat-description {
  font-size: var(--font-size-p);
  font-weight: 500;
  color: rgba(23, 22, 21, 0.7);
}

.conference-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  padding: 20px;
}

.conference-gallery img {
  flex: 1 1 calc(25% - 20px);

  min-width: 163px;
}

@media screen and (max-width: 830px) {
  .conference-info {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    row-gap: 100px;

    padding: 40px 15px 200px 15px;
  }

  .conference-info .sticky-duck-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    right: -110px;

    height: max-content;
  }

  .conference-info .sticky-duck {
    position: relative;

    width: 347px;
  }

  .conference-details,
  .conference-header {
    width: 100%;
  }

  .conference-details p {
    max-width: max-content;
  }

  .conference-info .statistics-container {
    max-width: 400px;
  }

  .conference-details .stat-number {
    font-size: 72px;
  }

  .conference-details .statistic {
    width: max-content;
  }

  .conference-gallery img {
    flex: 1 1 calc(50% - 20px);
  }
}
