nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  padding: 24px 44px;

  z-index: 100;
}

nav .centered {
  text-align: center;
}

nav h3,
nav button {
  font-size: var(--font-size-p);
  font-weight: 500;
  color: white;
}

nav button {
  padding: 14px 16px;
  width: 179px;
  height: 44px;
  border: none;

  background-color: var(--lightGrayColor);
  color: black;

  cursor: pointer;
  transition: 0.5s ease;
}

nav button:hover {
  background-color: rgb(79, 20, 135);
  color: white;
}

nav .burger-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav {
    position: static;
    padding: 0;
  }

  nav .burger-icon {
    display: block;
  }

  nav .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  nav .burger-icon-line {
    width: 100%;
    border: 1.5px solid white;
  }

  nav .menu-toggle {
    display: none;
  }
}
