
@font-face {
    font-family: "Neue Montreal";
    src: url("../../fonts/NeueMontreal/PPNeueMontrealMono-Thin.otf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.testimonial-section {
    background-color: #121212;
    position: relative;
  }
  
  .testimonial {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #fff;
    color: #000;
    padding: 80px 40px;
    position: relative;
    text-align: left;
    z-index: 1;
  }
  
  .testimonial-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px;
    min-width: 250px;
    margin-left: 60px;
  }
  
  .quote-icon img {
    width: 40px; 
    margin-bottom: 50px;
  }
  
  .line {
      width: 2px;
      height: 180px;
      background-image: radial-gradient(
        circle,
        rgba(136, 136, 136, 0.5) 0.5px,
        transparent 3px
      );
      background-size: 2px 8px;
      background-repeat: repeat-y;
      background-color: transparent;
    }
  
  .testimonial-right {
    flex: 1;
    max-width: 620px;
  }
  
  .testimonial:nth-child(4) {
    background-color: #000; 
    color: #ffffffb2;
    margin-top: -222px; 
    z-index: 2;
  }
  
  .testimonial:nth-child(6) {
    background-color: #fcf8eb; 
    color: #171615b2;
    margin-top: -138px; 
    z-index: 2;
  }
  
  .text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: var(--mainFont);
    color: #171615B2;
    margin-bottom: 20px;
  }
  
  .text-white {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -1px;
      font-weight: 600;
      font-family: var(--mainFont);
      color: #FFFFFFB2;
      margin-bottom: 20px;
    }
  
  .author {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    font-family: "Neue Montreal";
    color: #17161599;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .author-white{
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      font-family: "Neue Montreal";
      color: #FFFFFFB2;
      text-transform: uppercase;
      margin-top: 20px;
  }
  
  
  .author span{
      padding-bottom: 5px;
  }
  
  .author small {
    display: block;
    margin-top: 5px;
    max-width: 200px;
  }
  
  .section-breaker-top {
    position: absolute;
    top: 0;
    background: transparent;
    background-size: cover;
    height: 100px;
    width: 100%;
    margin-top: -10px;
    z-index: 1;
  }
  
  .section-breaker-top img {
    width: 100%;
    display: block;
    filter: brightness(1000%) contrast(100%);
  }
  
  .section-breaker-middle {
    position: absolute;
    background: transparent;
    background-size: cover;
    height: 20px;
    width: 100%;
    margin-top: -250px;
    z-index: 2;
    transform: rotate(-1.5deg);
  }
  
  .section-breaker-middle img {
    width: 100%;
    display: block;
    filter: brightness(0) contrast(1);
  }
  
  .section-breaker-bottom {
    position: absolute;
    background: transparent;
    background-size: cover;
    height: 10px;
    width: 100%;
    margin-top: -165px;
    z-index: 2;
    transform: rotate(1.5deg);
  }
  
  .section-breaker-bottom img {
    width: 100%;
    display: block;
    filter: brightness(500%) contrast(95%);
  }
  