:root {
  --orangeColor: #ff482f;
  --backgroundColor: rgba(245, 237, 225, 1);
  --darkGrayColor: #171615b2;
  --lightGrayColor: #eaeaea;
}

.main-container {
  background-color: var(--backgroundColor);
}

h1 {
  color: var(--lightGrayColor);
}
