@font-face {
  font-family: "Neue Machina";
  src: url("../../fonts/PPNeueMachina/PPNeueMachina-Regular.otf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../../fonts/NeueMontreal/PPNeueMontrealMono-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

:root {
  --primaryFont: "Neue Machina";
  --secondaryFont: "Neue Montreal Mono";
  --font-size-h1-desktop: 120px;
  --font-size-h1-mobile: 80px;
  --font-size-h2: 48px;
  --font-size-h4: 24px;
  --font-size-p: 14px;
}

* {
  font-family: var(--primaryFont), sans-serif;
}

h1 {
  font-size: var(--font-size-h1-desktop);
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--font-size-h1-mobile);
  }
}
